 
<div class="mid_conteainer">

    <div class="table_box">      
      <table width="930" height="119" border="0">
         <tr>
           <td height="39">&nbsp;</td>
         </tr>
      </table>
    </div>
    <div class="table_box">
   <%= form_tag new_session_path do %>
  
  <table width="930" border="0">
     <tr>
        <td width="237" height="39">&nbsp;</td>
        <td width="663" height="39">
            <div class="main_login_bg">
               <div class="login_bg_head">
                   <table width="458" height="41" border="0">
                      <tr>                 
                        <td width="1%">&nbsp;</td>
                        <td width="5%"><img src="images/ic.png" width="17" height="17" /></td>
                        <td width="31%">Login</td>
                        <td width="11%">&nbsp;</td>
                        <td width="52%" style="font-family:'Segoe UI'; font-size:14px; color:#000; font-weight:0;">Don't have an account?<a href="/signup" style="color:#1ea204;">Sign up!</a></td>
                      </tr>
                   </table>     
               </div>     
               <div class="login_bg_head_two">
                  <table width="100%" border="0">
                    <tr>
                      <td height="23">&nbsp;</td>
                    </tr>
                  </table>                  
                  <table width="458" height="67" border="0">
                     <tr>
                       <td width="33" height="30">&nbsp;</td>
                       <td width="141">Email ID</td>
                       <td width="10">&nbsp;</td>
                       <td width="249">                          
                          <%= text_field_tag :email, params[:email], :style => "width:235px; height:26px; border:#83a6db 1px solid;" %>
                        </td>
                       <td width="12">&nbsp;</td>
                     </tr>                   
                     <tr>
                       <td height="30">&nbsp;</td>
                       <td>Password</td>
                       <td>&nbsp;</td>
                       <td>                        
                         <%= password_field_tag :password, params[:password], :style => "width:235px; height:26px; border:#83a6db 1px solid;" %>
                       </td>
                       <td>&nbsp;</td>
                     </tr>
                 </table>                 
                 <table width="100%" border="0">
                   <tr>
                     <td width="41%" height="23">&nbsp;</td>
                     <td width="6%">                        
                        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
                     </td>
                     <td width="29%">Remember me</td>
                     <td width="23%">&nbsp;</td>
                     <td width="1%">&nbsp;</td>
                   </tr>
                 </table>                 
                 <table width="100%" border="0">
                   <tr>
                     <td width="42%" height="23">&nbsp;</td>
                     <td width="19%">                        
                        <%= image_submit_tag("/images/login_03.png") %>                        
                     </td>
                     <td width="37%">
                        <a href="/password_resets/new" style="color:#0066ff;">Forgot your password?</a>                        
                     </td>
                     <td width="1%">&nbsp;</td>
                     <td width="1%">&nbsp;</td>
                   </tr>
                 </table>
              </div>
           </div>
         </td>
         <td width="16" height="39">&nbsp;</td>
       </tr>
  </table>
  
  <% end %>

</div>