<h2> JOB PREVIEW </h2>


     <h3> Trip Summary </h3>

     <p> Pick Up From : <%= @booking.pickup_address %> </p>

     <p> Drop Off at : <%= @booking.drop_address %> </p>

     <p> Collect with in <%= @booking.pick_time_in_mins %> mins

     <% if @booking.is_pending? %>

           <form action="/accept_booking/<%= @booking.id %>">
               <input name="commit" type="submit" value="Accept" />
           </form> &nbsp; Or &nbsp;

           <form action="/accept_booking/<%= @booking.id %>">
               <input name="commit" type="submit" value="Reject" />
           </form>

     <% end %> <br/><br/>