
<h2> Booking Status </h2> &nbsp; &nbsp; <%= link_to "Bookings", bookings_path %>

 <h3> Trip Summary </h3>


<p> Pick Up From : <%= @booking.pickup_address %> </p>


<p> Drop Off at : <%= @booking.drop_address %> </p>


<p> Booked At : <%= @booking.created_at.strftime('%l:%M %p, %b %d') %> </p>


<h4> Current Status <h4> :  <b> <%= @booking.current_status %> </b>
   

  