<!DOCTYPE html>
<html>
<head>
  <title>Cab System</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>  
</head>

     <div id="content"><!-- Wraps everything -->
          <div id="header"><!--The Header -->
              <div class="page-width">

                  <h1> Cab System </h1>
                  <div id="user-cp"> <!--User Control Panel -->
                       <p class="welcome">Welcome <em><%= current_user.email %></em></p>
                       <ul>
                           <li>&nbsp;<%= link_to "Logout", logout_path %></li>
                       </ul>
                  </div> 
                  <div class="console_header">
                  </div>

                   <div class="headernav">
                       <div class="item closet <% if @select == "home" %> active <% end %>">
                          <a class="console" href="/home">Home</a>
                       </div>
                       <div class="item timeline <% if @select == "timeline" %> active <% end %>">
                          <a class="console" href="/home">Create Booking</a>
                       </div>
                   </div>

              </div>
         </div>
    </div>

<body> 
<%= yield %>

</body>
</html>


