<!DOCTYPE html>
<html>
<head>
  <title>Cab System</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'jquery', 'jquery.ui.core' %>

  <script>
     var $j = jQuery.noConflict();
  </script>
  
  <%= csrf_meta_tag %>  
</head>

     <div id="content"><!-- Wraps everything -->
          <div id="header"><!--The Header -->
              <div class="page-width">

                  <h1> Cab System </h1>
                  <div id="user-cp"> <!--User Control Panel -->
                       <p class="welcome">Welcome <em><%= current_user.email %></em></p>
                       <ul>
                           <li>&nbsp;<%= link_to "Logout", logout_path %></li>
                       </ul>
                  </div> 
                  <div class="console_header">
                  </div>

                   <div class="headernav">
                       <div class="item closet <% if @select == "home" %> active <% end %>">
                          <a class="console" href="/home">Home</a>
                       </div>
                       <% if current_user.is_passenger? %>
                          <div class="item timeline <% if @select == "booking" %> active <% end %>">
                             <a class="console" href="/bookings">My Bookings</a>
                          </div>
                       <% end %>
                       <% if current_user.is_company? %>
                          <div class="item timeline <% if @select == "vehicles" %> active <% end %>">
                             <a class="console" href="/vehicles">Vehicles</a>
                          </div>
                          <div class="item timeline <% if @select == "drivers" %> active <% end %>">
                             <a class="console" href="/drivers">Drivers</a>
                          </div>
                       <% end %>
                       <% if current_user.is_driver? %>
                          <div class="item timeline <% if @select == "pickups" %> active <% end %>">
                             <a class="console" href="/pickups">Pickups</a>
                          </div>
                          <div class="item timeline <% if @select == "collected" %> active <% end %>">
                             <a class="console" href="/collected">Collected</a>
                          </div>
                       <% end %>
                   </div>

              </div>
         </div>
    </div>

<body> 
<%= yield %>

</body>
</html>


