<!DOCTYPE html>
<html>
<head>
  <title>Family Practice </title>
  <%= stylesheet_link_tag :all, 'app', 'style', 'css', 'facebox', 'jquery.ui.all' %>
  <%= javascript_include_tag :defaults, 'jquery.ui.core', 'jquery.ui.datepicker' %>
  <%= csrf_meta_tag %>
  <style type="text/css">
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
</style>
</head>
<body>

  <div class="wrapper"> <!--.....header_starts.......-->
          <div class="header"> <!--.....logo_header_starts.......-->
               <div class="logo_header">
                    <div class="spacer"></div>
                    <div class="spacer1"></div>
                    <div class="logo"></div>
                    <div class="spacer2"></div>
                    <div class="email_box">
                         <div class="spacer3"></div>
                         <div class="email_boxtwo">
                           
                         </div>
                    </div>
               </div> <!--.....logo_header_ends.......-->
               <div class="menu">
                    <div id="topNav">
                        <ul style="list-style:none;">
                          <li><%= link_to "Sign in", "/users/sign_in" %></li>
                          <li>
                              <% if @current_site.nil? %>
                                  <%= link_to "Sign up", "/users/sign_up" %>
                              <% elsif @current_site.name == "admin" %>
                                  <%= link_to "Sign Up", "/users/sign_up" %>
                              <% else %>
                                  <%= link_to "Registration", "/sign_up_user" %>
                              <% end %>
                          </li>
                          <li><%= link_to "Forgot your password?", "/users/password/new" %></li>
                          <li><%= link_to "Invitations", "/send_invitation" %></li>                       
                        </ul>
                    </div>  <!-- top navigation pannel end -->
              </div> <!-- main menu pannel end -->
          </div> <!--.....header_ends.......-->
     </div>
  <br /><br /><br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <div class="mid_container">

<div class="spacer4"></div>



   <%= yield %>

<div class="spacer8"></div>

<div class="bottom_line"></div>

<div class="fotter_copy">©2011 Family Practice l Terms & Privacy</div>




<!--.....mid_container_ends.......-->

</div>

</body>

</html>








